.characters-episodes-container{
    display: flex;
}

.characters-body-container{
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid rgb(60, 62, 68);;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(60, 62, 68);
    display: flex;
    align-items: center;
    font-weight: bold; 
    flex-direction: column;
    cursor: pointer;
    color: white;
}
.characters-body-container:hover {
    background-color: #5f8f33;
    transform: scale(1.05);
}

.episodes-body-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid rgb(60, 62, 68);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(60, 62, 68);
    display: flex;
    align-items: center;
    font-weight: bold; 
    flex-direction: column;
    cursor: pointer;
    color: white;
}
.episodes-body-container:hover {
    background-color: #5f8f33;
    transform: scale(1.05);
}

.body {
    background-color: rgb(39, 43, 51);
}

.h1b{
    color: white;
    font-family: 'Freckle Face', cursive;
}