.main-container {
  display: flex;
}

.content-container {
  flex-grow: 2; /* Ocupa 2/3 del espacio disponible */
}

.side-container {
  flex-grow: 1; /* Ocupa 1/3 del espacio disponible */
  width: 300px; /* O ajusta el ancho según tus necesidades */
  /* Otros estilos, como padding y color de fondo */
}

.favorites-container{
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: rgb(60, 62, 68);
  font-weight: bold;
  text-align: justify;
  overflow-y: auto; /* Esto agrega una barra de desplazamiento vertical si es necesario */
  max-height: 300px;
}

.listName {
  color: rgb(158, 158, 158);
}

.remove-icon {
  cursor: pointer;
  margin-left: 8px;
  font-size: 20px; 
  transition: color 0.3s ease;
}

.remove-icon:hover {
  color: #af2424; 
}