.details-favorites-container {
  display: flex;
  gap: 20px;
}

.details-container {
  flex: 2;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(24 96 24), #6ba039, #a6cb49);
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos del contenedor */
}

.details-container-video {
  flex: 2;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(24 96 24), #6ba039, #a6cb49);
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos del contenedor */
}

.details-container img {
  max-width: 200px;
  height: 300px;
  border-radius: 4px;
  margin-right: 100px;
}

.details-container div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.details-container p {
  margin: 8px 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
}

.details-container p b {
  font-weight: bold;
}

.boton-favorite{
  color: #fff; /* Color del texto */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición */
  background-color: #0a3406; 
}

.boton-favorite:hover {
  transform: scale(1.05);
}
