.ecommerce-main {
    text-align: center;
    
  }
  
  header, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
  }

  .h1 {
    font-family: 'Freckle Face', cursive;;
  }

  .h2 {
    font-family: 'Freckle Face', cursive;;
    padding: 8px;
  }